.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em .5em;
}

.header .button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8em;
}

.header .button.first {
  gap: .5em;
}

.header .button.first .text {
  white-space: nowrap;
}

.header .button.last {
  justify-content: center;
  width: 100%;
}
