.button .link {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff20;
  border-radius: 4px;
  padding: .2em .4em;
}

.button .link:hover {
  background-color: #ffffff10;
}

.githubIcon {
  color: #ffffff80;
}

.starText {
  color: #ffffff70;
  font-size: .8em;
}
