.main {
  display: grid;
  grid-template-columns: 2fr 9fr 32fr;
  grid-template-rows: calc(718px - 60px);
  height: 100%;
}

.main .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr;
  height: 100%;
}

.main .response {
  grid-column: 2 / 3;
  grid-row: 2;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid #ffffff20;
}

.main .response.html {
  grid-column: 1 / 3;
  border-left: none;
}
