.responseTabs {
  border-bottom: 1px solid #ffffff20;
  height: 100%;
}

.tabs {
  display: flex;
  height: 100%;
}

.tab {
  padding: 0 1em;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: .85em;
  color: #ffffffc9;
  user-select: none;
}

.tab.active {
  border-left: 1px solid #ffffff20;
  border-right: 1px solid #ffffff20;
  border-bottom: 1px solid #2d2d2d;
  box-sizing: content-box;
}

.tab.active:first-of-type {
  border-left: none;
}
